body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

#listpart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
    padding: 24px 0px 24px 0px;
}

img {
    height: 200px;
}

nav {
    border-bottom: solid black 1px;
    padding: 16px;

}

.h3_color {
    color: green;
    text-decoration: none;
}

#h1color {
    color: teal;
}

footer {
    padding: 25px;
    background-color: greenyellow;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
}

header {
    background-color: orangered ;
}

.nava {
    text-decoration: none;
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
  }

#detailh1 {
    color: teal;
}
